<div class="container">
  <div>
    <div style="text-align: center">
        <h1>Todo Lists</h1>
        <h3>Enter text into input field to add items to your list.</h3>
        <h3>Click the itemto mark it as complate.</h3>
        <h3>Click the X to remove the item from your list.</h3>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <div>
              <input class="form-control input-todo" type="text" [(ngModel)]="todo" placeholder="Enter todo" name="todo">
              <button [ngClass]="{'button-add': true}" (click)="addTodo()">Add</button>
            </div>

            <ul style="margin-top: 20px;">
                <li *ngFor="let item of listTodo">
                  <div >
                      <button class="btn-item-todo-false" [ngClass]="{'btn-item-todo-true': item.status === true}" (click)="changeStatus(item)">Task Name: {{item.name}}: {{item.status}}</button>
                      <button class="btn-delete" (click)="deleteTodo(item)">Delete</button>
                  </div>
                </li>
              </ul>
      </div>
      <div class="col-md-4"></div>
    </div>

  </div>
  
</div>