.input-todo {
    display: inline;
    width: 300px;
}

.button-add {
    color: black;
    background-color: white;
    border-color: #ced4da;
    border-radius: 5px;
    border-width: 1px;
    padding: 5.5px;
}

.btn-item-todo-false {
    background-color: white;
    border-width: 0px;
    padding: 6px;
}

.btn-item-todo-true {
    background-color: #83ee95;
    border-width: 0px;
    padding: 6px;
}

.btn-delete {
    background-color: #dc3545;
    padding: 6px;
    color: white;
    border-radius: 5px;
}