<div class="row">
  <div class="col-md-3" *ngFor="let item of artists" style="margin-bottom: 20px;">
    <a class="artist-link" [routerLink]="[ '/music', { outlets: { track: [item.id] }} ]">
      <div>
          <img
              src="{{item.images.length !== 0 ? item.images[0].url : 'assets/image/artist.jpg'}}"
              alt="image" width="100%" height="240"
            />
      </div>
    </a>
    <div style="text-align: center">
      <a class="artist-link" [routerLink]="[ '/music', { outlets: { track: [item.id] }} ]"><b>{{item.name}}</b></a>
    </div>
  </div>
  <br>
</div>
