<div class="content">
  <div class="row">
    <div style="width: 60%;">
      <div style="text-align: right">
        <iframe
          width="{{width}}"
          height="{{height}}"
          [src]="urlVideo"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div [ngStyle]="{'width': width + 'px', 'float': 'right', 'padding-top': '20px'}">
        <h5>{{ item?.snippet.title }}</h5>
        <p style="color: #606060; font-size: 16px;">
          {{ item?.statistics.viewCount | formatNumber }} lượt xem
        </p>
        <span style="color: darkgrey">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          <span style="margin-right: 30px;">
            {{ item?.statistics.likeCount | formatNumber }}</span
          >
          <i class="fa fa-thumbs-down" aria-hidden="true"></i>
          <span style="margin-right: 30px;">
            {{ item?.statistics.dislikeCount | formatNumber }}</span
          >
        </span>
        <hr style="margin-top: 0px;" />
        <div class="row">
          <div style="width: 50px; margin-left: 10px;">
            <img
              src="https://yt3.ggpht.com/-99RxcM6rQLo/AAAAAAAAAAI/AAAAAAAAAAA/X5Tbic-rx38/s28-c-k-no-mo-rj-c0xffffff/photo.jpg"
              alt="Avater"
              width="50"
              height="50"
              style="display: inline-block; border-radius: 50%"
            />
          </div>
          <div [ngStyle]="{'padding-left': '20px', 'width': (width - 70) + 'px'}">
            <h5>{{ item?.snippet.channelTitle }}</h5>
            <p style="font-size: 16px; color: dimgray;">
              Xuất bản ngày {{ item?.snippet.publishedAt | date: 'dd-MM-yyyy' }}
            </p>
            <p
              style="padding: 10px 50px 0px 0px; height: 200px; overflow: auto"
            >
              {{ item?.snippet.description }}
            </p>
          </div>
        </div>
        <hr />
        <p style="font-size: 20px;">
          {{ item?.statistics.commentCount | formatNumber }} nhận xét
        </p>
        <hr />
        <app-comment [comment]="comment"></app-comment>
      </div>
    </div>
    <div style="width: 39%; padding-left: 30px">
      <app-related-video [videos]="videos"></app-related-video>
    </div>
  </div>
  <p style="cursor: pointer; text-align: center; margin-top: 30px;" (click)="onClickPage()">
    Hiển thị thêm <i class="fa fa-caret-down" aria-hidden="true"></i>
  </p>
</div>
