<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #06080b">
  <!-- Brand/logo -->
  <a class="navbar-brand" routerLink="/">Home</a>
  
  <!-- Links -->
  <!-- <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul> -->
</nav>
<div class="container">
  <div style="margin-top: 50px;">
    <router-outlet></router-outlet>
  </div>
  <div style="margin-top: 50px;">
    <router-outlet name="track"></router-outlet>
  </div>
</div>